<% content_for :title, 'About'%>
<div id="about-page">
  <hr/>
  <blockquote>
    <a href="https://www.youtube.com/watch?v=XE8BgQzyktE" target="_blank">freedom cost a buck o'five </a>
  </blockquote>
  <p>
    <a href="https://en.wikipedia.org/wiki/William_E._Vaughan">Bill Vaughan</a> once said that "A citizen of America will cross the ocean to fight for democracy, but won't cross the street to vote". I made this app hoping to make voting fun, and it won't cost you $1.05
  </p>
  <hr/>
  <ol>
    <p><strong>House Rules</strong></p>
    <li>This site shall forever be free... (pun intended)</li>
    <li>This site supports freedom of speech.</li>
    <li>
      However, this site opposes discrimination of any kind. We ask our users to be considerate when posting to this site so as to not offend any person or group. You may click <span class="btn btn-danger btn-xs">Flag for Abuse</span> or <%= link_to 'contact admin', contact_path %> regarding any offensive material you find.
    </li>
    <li>
      This site values users' privacy. Polls created and votes casted are confidential. No one using this site knows who created which poll or who voted which way. If you flag a poll for abuse, that flag will be anonymous. But nothing is keeping you from commenting about it (rule #2).
    </li>
    <li>
      You must be <%= link_to 'logged in', help_path(anchor: 'signup-login') %> and your account must be <%= link_to 'activated', help_path(anchor: 'activation') %> in order to create polls and vote. Your vote matters that's why we should make sure you are you and you are not a Google Spider.
    </li>
    <li>Once a poll is created, it cannot be modified. You can delete the polls you created at any time.</li>
  </ol>
  <hr/>
  <p>
    That's all I got to say at the moment. Have fun voting.
  </p>
</div>
