<p style="font-family:Coda">Hello <%= @user.name %></p>
<p style="font-family:Coda">
    Welcome to Buck O Five, click
    <%= link_to 'here', edit_account_activation_url(@user.activation_token, email: @user.email) %>
    to activate your account.
</p>
