<p style="font-family:Coda">Hello <%= @user.name %></p>
<p style="font-family:Coda">
    At <strong><%= @user.account.reset_sent_at.to_formatted_s(:long) %></strong>, you requested to reset your password.
</p>
<p style="font-family:Coda">
    Click <%= link_to 'here', edit_password_reset_url(@user.reset_token, email: @user.email) %>
    to proceed with resetting your password.
</p>
<p style="font-family:Coda">
    This password reset link will expire in <strong>2 hours</strong>.
</p>
