<p>
  Hello <%= @user.name %>
</p>
<p>
  Click
  <%= link_to 'HERE', edit_password_reset_url(@user.reset_token, email: @user.email) %>
  to reset your password.
</p>
<p>
  This link will be deactivated after 2 hours.
</p>
