<% content_for :title, 'Sign Up' %>
<%= form_for @user do |form| %>
  <%= render 'fields', f: form %>
  <div class="form-group">
    <%= form.check_box :remember_me, checked: true %>
    <span>remember me on this computer</span>
  </div>

  <div class="form-group">
    <%= form.submit 'Create Account', class: 'btn btn-success' %>
  </div>
<% end %>
