<%= link_to '/auth/twitter', class: 'btn btn-block btn-twitter' do %>
  <% if logged_in? %>
    <% if current_user.has_authentication('twitter') %>
      <span>sync with your twitter account</span>
    <% else %>
      <span>connect your twitter account</span>
    <% end %>
  <% else %>
    <span>sign in with twitter</span>
  <% end %>
  <%= image_tag 'twitter.png', alt: 'Twitter Logo', size: '20' %>
<% end %>
