<%= link_to '/auth/twitter', class: 'btn btn-block btn-twitter' do %>
  <% if logged_in? %>
    <span>connect or sync with your twitter account</span>
  <% else %>
    <span>sign in with twitter</span>
  <% end %>
  <%= image_tag 'twitter.png', alt: 'Twitter Logo', size: '20' %>
<% end %>
